



button:hover {
  background-color: turquoise;
}


.delete-button {
  color: red;
}

.delete-button:hover {
  background-color: orange;
}

.edit-button {
  color: green;
}

.add-button:hover {
  background-color: gray;
}

.submit-button {
  color: green;
}

.close-button {
  color: green;
}