.delete-button {
  color: red;
  height: 100%;
  width: 100%;
  align-content: center;
  text-align: center;
  border: none;
  /* background-color: aliceblue; */
  padding: 0;
}

.delete-button:hover {
  background-color: turquoise;
}

.delete-button:active {
  background-color: rgb(121, 121, 122);
}



