
.topbar {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 3fr 5fr;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: aliceblue ;
}


.logo {
  position: absolute;
  grid-column: 1 / 2;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  grid-column: 2 / 3;
}