body {
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: larger;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button:active {
  background-color: rgb(121, 121, 122);
}

button {
  height: 100%;
  width: 100%;
  align-content: center;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: larger;
  border: none;
  padding: 0;
  cursor: pointer;
}